#left_sidebar
	= image_tag @user.avatar(:thumb)
	.left_sidebar_info
		-if current_user == @user 
			.edit_button
				=link_to 'edit', edit_user_registration_path
		-elsif user_signed_in?
			- if current_user.is_a_friend?(@user)
				="#{@user.nickname} is your friend"
			-else
				.add_as_a_friend
					=link_to "Add as a friend", relationships_path(@user), :method => :post
		.block.first_block
			-if @user.default_city.present?
				%p=raw("#{image_tag('icons/home_12.png')} #{@user.default_city.get_city_and_country}")
			-if @user.birthdate.present?
				%p=raw("#{image_tag('icons/calendar_12.png')} #{@user.get_age} years old")
		.block
			%h4="friends (#{@friends.size})"
			.avatars
				-@friends[0..20].each do |f|
					=link_to raw("#{image_tag f.avatar(:small), :width => 25, :height => 25, :title => f.nickname}"), user_path(f)
			.see_all
				=link_to('see all', '#') unless @friends.blank?
		.block
			%h4="events created (#{@events_created.size})"
			%ul
				- @events_created.each do |ec|
					%li=link_to ec.name, event_path(ec)
			.see_all
				=link_to('see all', '#') unless @events_created.blank?
		.block.last_block
			%h4="events attended (#{@events_attended.size})"
			%ul
				-@events_attended.each do |ea|
					%li=link_to ea.name, event_path(ea) 
			.see_all
				=link_to('see all', '#') unless @events_attended.blank?