#left_sidebar
	= image_tag @user.avatar(:thumb)
	.left_sidebar_info
		-if current_user == @user 
			.edit_button
				=link_to 'edit', edit_user_registration_path
		-elsif user_signed_in?
			- if current_user.is_a_friend?(@user)
				="#{@user.nickname} es tu amigo"
			-else
				.add_as_a_friend
					=link_to "Add as a friend", relationships_path(@user), :method => :post
		.block.first_block
			-if @user.default_city.present?
				%p=raw("#{image_tag('icons/home_12.png')} #{@user.default_city.get_city_and_country}")
			-if @user.birthdate.present?
				%p=raw("#{image_tag('icons/calendar_12.png')} #{@user.get_age} years old")
		.block
			%h4="friends (#{@friends.size})"
			.avatars
				-@friends.each do |f|
					=link_to raw("#{image_tag f.avatar(:small), :width => 25, :height => 25}"), user_path(f)
			.see_all
				=link_to('see all', '#')
		.block
			%h4 events created (12)
			%ul
				- 5.times do
					%li=link_to 'Random event'
			.see_all
				=link_to('see all', '#')
		.block.last_block
			%h4 events assisted (26)
			%ul
				-5.times do
					%li=link_to 'Random event'
			.see_all
				=link_to('see all', '#')