<div class="standard_form">
	<h2>Sign up</h2>
		<div class="standard_form_box">
		<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
			<%= f.inputs :email, :password, :password_confirmation %>
		  <% f.buttons do %>
	      <%= f.commit_button %>
	    <% end %>
		<% end %>
		<%= render :partial => "devise/shared/links" %>
	</div>
</div>