.standard_form
	%h2 Sign up
	.standard_form_box
		= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
			-if session[:omniauth]
				%p Signing in in #{session[:omniauth]['provider'].titleize} was successful, but we need a little bit more information to complete the process.
			= f.inputs do 
				= f.input :email
				- if @user.password_required?
					= f.input :password
					= f.input :password_confirmation
			- f.buttons do
				= f.commit_button
		= render :partial => "devise/shared/links"
		%h3 Or Sign in through one of these services:
		%a{:href => "/auth/twitter", :class => "auth_provider"}
			= image_tag "omniauth/twitter_64.png", :size => "64x64", :alt => "Twitter"
		%a{:href => "/auth/facebook", :class => "auth_provider"}
			= image_tag "omniauth/facebook_64.png", :size => "64x64", :alt => "Facebook"
		.clear