%h2 About us
- 2.times do 
	%p Lorem ipsum dolor sit amet
%h2 About Crowdboarding
%p Crowdboarding is a very nice page blablablablalba. We came up with the idea because blablablablab. Hey! did you knew that blalbalbalba
%p Crowdboarding is open source! Check it out at #{ link_to "Github", "https://github.com/michaelkoper/crowdboarding" }
%p We use this #{ link_to "color pallet", "http://www.colourlovers.com/palette/1559370/Crowdboarding"}
%p We use this awesome #{ link_to "icon set ", "http://somerandomdude.com/projects/iconic/" }
%p And ofcourse credits for the following opensource technologies we used:
%ul
	%li #{ link_to "Ruby on Rails 3.0.7", "http://rubyonrails.org/" }
	%li	#{ link_to "Compass", "http://960.gs/" } (CSS Authoring Framework)
	%li #{ link_to "960 Grid system", "http://compass-style.org/" } 
	%li	#{ link_to "Sass", "http://sass-lang.com/" } (Syntactically Awesome Stylesheets)
	%li	#{ link_to "Haml", "http://haml-lang.com/" }
	%li #{ link_to "jQuery", "http://jquery.com/" } (javascript framework)
	%li	#{ link_to "Postgresql", "http://www.postgresql.org/" } 
	%li #{ link_to "CSS3", "http://www.w3schools.com/css3/" } (because we hate Internet Explorer 6,7 &amp; 8)
	%li #{ link_to "Html5", "http://www.w3schools.com/html5/default.asp" } 
	%li #{ link_to "RSpec", "https://github.com/dchelimsky/rspec" } (Behaviour Driven Development framework for Ruby)
	%li #{ link_to "Capybara", "https://github.com/jnicklas/capybara" } (Acceptance test framework for web applications)
	%li #{ link_to "Formtastic", "https://github.com/justinfrench/formtastic" } (A Rails form builder plugin with semantically rich and accessible markup.)
	%li #{ link_to "Typus", "https://github.com/fesplugas/typus" } (Ruby on Rails Admin Panel (Engine))
	%li #{ link_to "Kaminari", "https://github.com/amatsuda/kaminari" } (A Scope &amp; Engine based, clean, powerful, customizable and sophisticated paginator for Rails 3)
	%li #{ link_to "Devise", "https://github.com/plataformatec/devise" } (Flexible authentication solution for Ruby on Rails)
	%li #{ link_to "CanCan", "https://github.com/ryanb/cancan" } (Authorization Gem for Ruby on Rails)