%h2= "Events in Madrid, Spain"
= form_tag events_path, :method => :get, :class => "formtastic search", :id => "events_search" do
	%ol
		%li.select
			= label_tag "country_id", "Country"
			= (select_tag "country_id",  options_from_collection_for_select(Country.all, "id", "name", params[:country_id]))
		%li.string
			= label_tag "city_name", "City"
			= text_field_tag :city_name, nil, :placeholder => "Search for city"
		%li.string
			= label_tag "Tag"
			= text_field_tag :tags, nil, :placeholder => "Search for tags"
		%li.submit
			%fieldset.buttons
				= submit_tag "Search"
= paginate @events
.events
	=render @events
= paginate @events