%h2= "Events in Madrid, Spain"
= form_tag events_path, :method => :get, :class => "formtastic search", :id => "events_search" do
	%ol
		%li.select
			= label_tag "country", "Country"
			= select_tag "country", options_from_collection_for_select(Country.all, "id", "name")
		%li.string
			= label_tag "city", "City"
			= text_field_tag :city, nil, :placeholder => "Search for city"
		%li.string
			= label_tag "Tag"
			= text_field_tag :tags, nil, :placeholder => "Search for tags"
		%li.submit
			%fieldset.buttons
				= submit_tag "Search"
= paginate @events
.events
	=render @events
= paginate @events