.event.show
	%h2=@event.name
	.event_info
		%p.address
			=@event.address
			=display_location_info(@event.city)
		%p.starts_at=relative_date(@event.starts_at)
	= render :partial => 'map', :locals => {:json => @json}
	- if @event.description
		%h3 Description
		=simple_format(sanitize(@event.description) )
- content_for :sidebar_right do
	#sidebar.event
		.sidebar_content
			- if user_signed_in?
				.event_highlights
					.attendance
						- if @attendance.present?
							=link_to raw("<span>Attending</span>"), attendance_path(@attendance.id), :class => "stop_attending", :method => :delete
						- else
							=link_to raw("<span>Join the event</span>"), attendances_path(:event_id => @event.id), :class => "attend_link", :method => :post
			.event_highlights
				.event_highlight.left= image_tag "weather_icons/#{@weather[:icon]}.png", :widht => 80, :height => 80
				.event_highlight
					%span.temp="#{@weather[:high]}ยบ";
				%p="#{@weather[:icon]}"
			.event_highlights
				%h4="attenders (#{@attenders.size})" 
				.attenders.indent
					-@attenders.each do |at|
						=link_to raw("#{image_tag at.avatar(:small), :width => 25, :height => 25, :title => at.nickname}"), user_path(at)
				.see_all
					=link_to('see all', '#') unless @attenders.blank?
			.event_highlights.last
				%h4 days left
				= distance_of_time_in_short_words(@event.starts_at)

:javascript
	$(document).ready(function() {
		$("a.stop_attending").bind("mouseenter",function(){
			$(this).find('span').html("Stop Attending");
		}).bind("mouseleave",function(){
			$(this).find('span').html("Attending");
		}); 
	});
