!!! 5
%html
	%head
		%title Crowdboarding
		= stylesheet_link_tag 'grid', 'text', 'support/colors'
		= javascript_include_tag :defaults
		= csrf_meta_tag
	%body
		#wrapper_header
			#header
				%h1 Crowdboarding
				%ul
					- if user_signed_in?
						%li=link_to 'Michael', "javascript:;"
						%li=link_to 'Logout', destroy_user_session_path
					- else
						%li= link_to 'Register', new_user_registration_path
						%li= link_to 'Login', new_user_session_url
		#wrapper_nav
			%ul
				%li.selected events
				%li riders
				%li about
		#wrapper_main_content
			#main_content
				= yield